<mat-card>
  <mat-card-title>Product list</mat-card-title>
  <mat-card-content>
    <mat-list role="list" *ngIf="list$ | async as list; else loading">
      <ng-container *ngIf="list.length > 0; else emptyState">
        <mat-list-item role="listitem" *ngFor="let item of list">{{item.title}}</mat-list-item>
      </ng-container>
    </mat-list>
    <ng-template #emptyState>
      <p>Oops, there is no data :(</p>
    </ng-template>
    <ng-template #loading>
      <mat-progress-spinner
        [color]="'primary'"
        [mode]="'indeterminate'"
        [value]="50">
      </mat-progress-spinner>
    </ng-template>
  </mat-card-content>
</mat-card>
