<mat-card>
  <mat-card-title>Select category</mat-card-title>
  <mat-card-content>
    <mat-selection-list role="list" *ngIf="categories$ | async as list; else loading">
      <ng-container *ngIf="list.length > 0; else emptyState">
        <mat-list-option role="listitem" *ngFor="let item of list">{{item}}</mat-list-option>
      </ng-container>
      <ng-template #emptyState>
        <p>There is no data :(</p>
      </ng-template>
    </mat-selection-list>
    <ng-template #loading>
      <mat-progress-spinner
        [color]="'primary'"
        [mode]="'indeterminate'"
        [value]="50">
      </mat-progress-spinner>
    </ng-template>
  </mat-card-content>
</mat-card>
